### Java ###
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/

### Secrets ###
src/main/resources/application-secret.properties

### macOS ###
.DS_Store
.idea/

# allow gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
